/* Resetting margin, padding, and box-sizing for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for the body */
body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    height: 100vh;
    background: linear-gradient(#773b76, #541654);
}

/* Container styling for centering content */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

/* Styling for the login container */
.logInContainer {
    background: linear-gradient(#b0b9e9, #b0b9e9, #b0b9e9);
    width: 350px;
    height: 550px;
    padding: 40px 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #c8c1c1;
}

/* Styling for the heading inside the container */
.heading h1 {
    font-size: 22px;
    color: #615b5b;
}

/* Styling for input elements */
.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.input input {
    padding: 15px;
    width: 100%;
    outline: none;
    border: none;
    background: #ffffff;
    border-radius: 8px;
}

/* Styling for the password toggle button */
.passwordButton {
    display: none;
    position: absolute;
    height: 20px;
    margin-top: 45px;
    margin-left: 253px;
    cursor: pointer;
    border: none;
}

.passwordButtonImg {
    height: 20px;
    position: absolute;
}

/* Styling for the "Forgot Password" section */
.forgot {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
    font-weight: 300;
    font-size: 15px;
}

.forgot span {
    color: #615b5b;
    font-size: 14px;
    cursor: pointer;
}

/* Styling for the login button */
.loginBtn button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 15px;
    background-color: #5d5ab8;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.loginBtn button:active {
    transform: scale(0.9658);
}

/* Styling for the "Login With" section */
.loginWith {
    margin: 20px;
}

.loginWith hr {
    width: 320px;
    margin-left: -20px;
    background-color: #ffffff;
    padding: 1px;
    outline: none;
    border: none;
}

.loginWith p {
    position: absolute;
    margin: -14px 0px 0px 90px;
    background-color: #b0b9e9;
    color: #615b5b;
    font-size: 15px;
    padding: 5px;
}

/* Styling for the "Login With Google/Apple" section */
.loginWithGoogleApple {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
}

.loginWithGoogleApple button {
    width: 100%;
    outline: none;
    border: none;
    display: flex;
    padding: 11px 15px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
    background-color: #ffffff;
    transition: transform 0.1s ease;
}

.loginWithGoogleApple button:active {
    transform: scale(0.9658);
}

.loginWithGoogleApple button:nth-child(2) {
    background-color: #000000;
    color: #ffffff;
}

.loginWithGoogleApple button:nth-child(2) img {
    margin-top: -20px;
    margin-left: -45px;
}
